#wrapper p {
    text-align: justify;
}

main {
    border-top: 2px solid lightgrey;
    padding: 20px 0px;
    border-bottom: 2px solid lightgrey;
}

.row {
    text-align: justify;
}

.ordered_list > b {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 2.5;
    text-decoration: underline;
    font-style: italic;
}

ol > li > ul > li {
    list-style-type: disc;
    font-weight: lighter;
    text-decoration: none !important;
    font-style: unset;
    line-height: 1.5;
    text-align: justify;
    margin-left: 20px;
}

nav a:hover {
    text-shadow: 0px 0px 1px rgb(20, 70, 20);
}

.row {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px auto;
}

.testimonial {
    display: block;
    text-align: center;
    border: 1px solid #999;
    padding: 30px;
    margin: 0px 10px;
    border-radius: 10px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    padding-top: 40px;
    padding-bottom: 20px;
}

.testimonial b {
    display: block;
    padding-bottom: 30px;
    text-align: center;
}
.testimonial div {
    color: #111;
    font-style: italic;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    #top_bar {
        text-align: center;
        display: block;
        position: relative;
        background-color: black;
        padding: 10px 0;
    }

    #top_bar a {
        display: block;
        margin: 5px 0;
        padding: 5px 10px !important;
        color: white;
        text-decoration: none;
    }

    #top_bar a:hover {
        background-color: #111;
    }

    nav ul {
        flex-direction: column !important;
    }

    nav ul li {
        display: block;
    }

    .item33 {
        float: none;
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .row {
        display: grid;
        grid-template-columns: auto;
    }

    .testimonial {
        margin: 20px 0;
    }

    footer > div {
        width: 100%;
    }
    footer nav a {
        text-align: center;
    }
    #top_list {
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row !important;
    }

    /* Responsive changes */
    header {
        margin-top: 0;
        background-position: center; /* Adjust background position for mobile */
        height: auto; /* Adjust height for mobile responsiveness */
    }
    .banner_logo {
        width: 100px;
    }

    .banner_title {
        font-size: 1.75rem; /* Adjust font-size for mobile */
    }

    .banner_description {
        font-size: 1.25rem; /* Adjust font-size for mobile */
    }

    .banner_button {
        font-size: 1.2rem; /* Adjust font-size for mobile */
    }
    #wrapper {
        width: 95%;
    }

    main {
        padding: 20px;
    }
}

@media screen and (max-width: 1000px) {
    #wrapper {
        width: 90%;
    }
}
