/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: "Century Gothic", serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
nav {
    text-align: center;
}

h2,
h3,
dt {
    font-family: "Gabriola", sans-serif;
}

h2 {
    padding: 20px 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-shadow: 2px 2px 10px white;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

dd {
    font-weight: bold;
}

#copyright {
    text-align: center;
    border-top: 2px solid white;
    padding-top: 20px;
    margin-top: 20px;
    flex-basis: 100%;
    font-family: serif;
    font-style: italic;
    font-weight: 900;
}

footer nav a {
    color: #eee;
}

footer {
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
}

/* Header styles */
header {
    grid-column: 1 / -1;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#page_1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(images/backgrounds/index_page_3.jpg);
}

#page_2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(images/backgrounds/index_page_2.jpg);
}

#page_3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(images/backgrounds/index_page_1.jpg);
}

#top_bar {
    display: grid;
    grid-template-columns: auto auto;
    position: fixed;
    background-color: white;
    z-index: 1;
    width: 100%;
    min-height: 1rem;
    align-items: center;
    justify-content: space-between;
}

.about_us_row {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px auto;
}

.testimonial {
    display: block;
    text-align: center;
    border: 1px solid #999;
    padding: 30px;
    margin: 0px 10px;
    border-radius: 10px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    padding-top: 40px;
    padding-bottom: 20px;
}

.testimonial b {
    display: block;
    padding-bottom: 30px;
    text-align: center;
}
.testimonial div {
    color: #111;
    font-style: italic;
    text-align: justify;
}

#top_bar > img {
    padding: 0 10px;
    height: 25px;
    width: 250px;
}

#top_list {
    min-height: 1rem;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#top_list > li {
    float: left;
}

#top_list > li > a {
    display: block;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header > div {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: white;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_logo {
    width: 141px;
    margin: 1rem auto 0;
    object-fit: contain;
    background-size: contain;
    overflow: hidden;
    flex-shrink: 0;
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

.banner_title {
    font-weight: 700;
    font-size: 3.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: 1rem auto 0;
    line-height: 1.1;
    position: relative;
    word-wrap: break-word;
    text-align: center;
    flex-shrink: 0;
    display: block;
}

.banner_hero {
    width: 30%;
    font-size: 1.5rem;
    text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
    margin: 1rem auto 0;
    line-height: 1.6;
    word-wrap: break-word;
    position: relative;
    text-align: center;
    flex-shrink: 0;
    padding: 0;
    display: block;
    color: black;
    background-color: white;
}

.banner_button {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 2px solid white;
    padding: 20px;
    width: 200px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

#wrapper {
    width: 80%;
    display: block;
    text-align: center;
    margin: 40px auto;
}

.wrapper_intro {
    text-align: justify;
    font-size: 1.1em;
}

.main > .row {
    display: flex;
    flex-wrap: wrap;
}

.main > .row > .column {
    flex: 25%;
}

.main > .row > .column > img {
    max-height: 40vh;
    object-fit: cover;
    object-position: center;
}

.main > .row > .column > p {
    font-size: 1.5em;
    font-variant: petite-caps;
    text-decoration: underline;
    font-weight: 600;
}

footer {
    grid-column: 1 / -1;
    padding: 10px 10%;
    display: flex;
    flex-wrap: wrap;
    color: #eee;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 2;
    background-image: url(images/backgrounds/footer_page_1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

footer > div {
    display: inline-block;
    padding: 0% 5%;
    flex-grow: 1;
}

ul {
    padding: 0;
    list-style: none;
}

footer nav a {
    display: block;
    padding: 0;
    text-align: left;
}

h1 a {
    text-decoration: none;
    color: #eee;
}

h1 a:hover {
    text-shadow: 0px 0px 1px #eee;
}

.item33::after {
    content: "";
    display: table;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 4em;
}

tbody > tr {
    border-bottom: 1px solid lightgray;
}

tbody > tr > th {
    font-size: 1.5em;
    border-right: 1px solid lightgrey;
    padding: 10px;
}

tbody > tr > td {
    font-size: 1em;
    padding: 20px;
    text-align: justify;
}

.properties_button {
    text-align: center;
    color: white;
    background: black;
    padding: 15px 40px;
    margin: 20px;
    border-radius: 40px;
}

.tags li {
    background: orange;
    border: white;
    color: white;
    margin: 8px;
    border-radius: 38px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.properties_description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.properties_description h3 {
    padding: 30px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.list li {
    padding: 15px;
}

.list span {
    font-weight: 800;
}

td h3 {
    font-family: circular;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    #categories {
        grid-template-columns: 1fr 1fr;
    }

    #top_bar {
        text-align: center;
        display: block;
        position: relative;
        background-color: black;
        padding: 10px 0;
    }

    #top_list {
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row !important;
    }

    #top_bar a {
        display: block;
        margin: 5px 0;
        padding: 5px 10px !important;
        color: white;
        text-decoration: none;
    }

    #multicol {
        display: flex;
        flex-wrap: wrap;
    }

    .item25 {
        width: 50%;
    }

    nav ul {
        flex-direction: column !important;
    }

    nav ul li {
        display: block;
    }

    .item33 {
        float: none;
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    footer > div {
        width: 100%;
    }

    footer nav a {
        text-align: center;
    }

    /* Responsive changes */
    header {
        margin-top: 0;
        background-position: center;
        height: auto;
    }

    .banner_logo {
        width: 100px;
    }

    .banner_title {
        font-size: 1.75rem;
    }

    .banner_hero {
        font-size: 1.25rem;
    }

    .banner_button {
        font-size: 1.2rem;
    }

    #wrapper {
        width: 95%;
    }

    main {
        padding: 20px;
    }

    .main > .row > .column {
        flex: 50%;
        padding: 10px;
    }
}

@media screen and (max-width: 1000px) {
    #wrapper {
        width: 90%;
    }
}

.row_col_container {
    display: flex;
}

.subscription {
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background: url(images/backgrounds/footer_page_2.jpg);
    grid-column: 1 / -1;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    width: 100%;
}

.col {
    width: 50%;
    display: grid;
    text-align: left;
    color: white;
}

.col h2,
.col h3 {
    font-family: "Jost", sans-serif;
    font-weight: 0;
}

.mt-50 {
    margin-top: 50px;
}

.column {
    font-family: cursive;
    flex: 1;
    display: flex;
    margin: auto 70px;
    border-radius: 10px;
    background-color: #ffeee9;
}

.left-30 {
    flex: 0 0 30%;
    padding: 20px;
    text-align: center;
    display: flex;
    font-size: 25px;
    font-weight: 900;
    align-items: center !important;
    justify-content: center;
    color: #f35525;
}

.right-70 {
    flex: 0 0 70%;
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        margin: 10px 0;
    }

    .left-30,
    .right-70 {
        flex: 1;
        width: 100%;
    }
}

.row_subscription {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

.padding-medium {
    padding-top: 4em;
    padding-bottom: 4em;
}

.bg-dark {
    background: url(images/backgrounds/footer_page_2.jpg);
    color: white;
    font-family: Montserrat, sans-serif;
}

.display-header h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 5;
    text-align: left;
    padding: 0 !important;
    padding-bottom: 10px !;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-space-around {
    justify-content: space-around !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.d-flex {
    display: flex !important;
    width: 100%;
}

.btn.btn-medium {
    padding: 0.8em 2.8em;
    font-size: 1.1em;
    letter-spacing: 2px;
}

.btn.btn-primary {
    background: #ffeee9;
    color: #f35525;
    border: none;
}

.text-uppercase {
    text-transform: uppercase;
}

.form-control {
    padding: 16px;
    width: 25rem;
    margin: 0;
    height: 3.3rem;
}
