body {
    font-family: "Century Gothic", serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

h2,
h3,
dt {
    font-family: "Gabriola", sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 500;
    line-height: 400%;
    text-shadow: 2px 2px 10px white;
}

h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.3rem;
}

dd {
    font-weight: bold;
}

footer {
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
}

#copyright {
    border-top: 2px solid white;
    padding-top: 20px;
    flex-basis: 100%;
    font-family: serif;
    font-style: italic;
}

footer nav a {
    color: #eee;
}

h3,
dt nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1,
nav,
#copyright {
    text-align: center;
}

body,
h1 {
    margin: 0;
}

header {
    margin-top: 4rem;
    grid-column: 1 / -1; /* Span across all columns */
    background-position: 50% 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(./images/gym.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#top_bar {
    display: grid;
    grid-template-columns: auto auto;
    position: fixed;
    background-color: black;
    z-index: 1;
    width: 100%;
    min-height: 1rem;
    justify-content: space-between;
}

#top_bar > img {
    padding: 20px;
    height: 30px;
    width: 200px;
}

#top_list {
    min-height: 1rem;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#top_list > li {
    float: left;
}

#top_list > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top_list > li a:hover {
    background-color: #111;
}

header > div {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: white;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_logo {
    width: 141px; /* Adjusted width for mobile responsiveness */
    margin: 1rem auto 0;
    object-fit: contain;
    background-size: contain;
    overflow: hidden;
    flex-shrink: 0;
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

.banner_title {
    font-weight: 700;
    font-size: 3.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 1rem auto 0;
    line-height: 1.1;
    position: relative;
    word-wrap: break-word;
    text-align: center;
    flex-shrink: 0;
    display: block;
}

.banner_description {
    width: 80%;
    font-size: 1.5rem;
    text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
    margin: 1rem auto 0; /* Adjusted margin for mobile responsiveness */
    line-height: 1.6;
    word-wrap: break-word;
    position: relative;
    text-align: center;
    flex-shrink: 0;
    padding: 0;
    display: block;
    color: white;
}

.banner_button {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 2px solid white;
    padding: 20px;
    width: 200px;
    margin: 1rem auto 0; /* Adjusted margin for mobile responsiveness */
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

#wrapper {
    width: 80%;
    display: block;
    text-align: center;
    margin: 40px auto;
}

.wrapper_intro {
    text-align: justify;
    font-size: 1.1em;
}

.main > .row {
    display: flex;
    flex-wrap: wrap;
}

.main > .row > .column {
    flex: 25%;
}

.main > .row > .column > img {
    max-height: 40vh;
    object-fit: cover;
    object-position: center;
}

.main > .row > .column > p {
    font-size: 1.5em;
    font-variant: petite-caps;
    text-decoration: underline;
    font-weight: 600;
}

footer {
    grid-column: 1 / -1; /* Span across all columns */
    padding: 10px 10%;
    display: flex;
    flex-wrap: wrap;
    color: #eee;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 2;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url(./images/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

footer > div {
    display: inline-block;
    padding: 0% 5%;
    flex-grow: 1;
}

ul {
    padding: 0;
    list-style: none;
}

footer nav a {
    display: block;
    padding: 0;
    text-align: left;
}

h1 a {
    text-decoration: none;
    color: #eee;
}

h1 a:hover {
    text-shadow: 0px 0px 1px #eee;
}

.item33::after {
    content: "";
    display: table;
}

@media screen and (max-width: 768px) {
    #categories {
        grid-template-columns: 1fr 1fr;
    }

    #top_bar {
        display: block;
        position: relative;
    }

    #multicol {
        display: flex;
        flex-wrap: wrap;
    }

    .item25 {
        width: 50%;
    }

    nav ul {
        flex-direction: column !important;
    }

    nav ul li {
        display: block;
    }

    .item33 {
        float: none;
        display: block;
        text-align: center;
    }

    footer > div {
        width: 100%;
    }
    footer nav a {
        text-align: center;
    }
    /* Responsive changes */
    header {
        margin-top: 0;
        background-position: center; /* Adjust background position for mobile */
        height: auto; /* Adjust height for mobile responsiveness */
    }
    .banner_logo {
        width: 100px;
    }

    .banner_title {
        font-size: 1.75rem; /* Adjust font-size for mobile */
    }

    .banner_description {
        font-size: 1.25rem; /* Adjust font-size for mobile */
    }

    .banner_button {
        font-size: 1.2rem; /* Adjust font-size for mobile */
    }

    #wrapper {
        width: 95%;
    }

    main {
        padding: 20px;
    }

    .main > .row > .column {
        flex: 50%;
        padding: 10px;
    }
}

#pagecontainer {
    display: grid;
}
